<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Components | Template</title>
  </head>
  <body>
    <main></main>
    <template>
      <h1>Hello World & Template</h1>
      <h2>Template an coming!</h2>
    </template>
    <my-template></my-template>
    <!-- === Javascript === -->
    <script type="module" src="./my-template.js"></script>
  </body>
</html>
